/* structure */
body {
  background-color: #FCFCFC;
  margin: 0;
  color: #0E2E56;
  font-family: 'Rubik', sans-serif;
}
.container{
  width: 80%;
  min-height: 70%;
  margin: 50px auto 50px auto;
}
.footer{
  width: 80%;
  height: 50px;
  margin: 0 auto;
}
.container2{
  position: relative;
  width: 100%;
  margin-top: 20px;
}

/* contents */
h1 {
  font-weight: 700;
  font-size: 72px;
  line-height: 64px;
  margin-bottom: 40px;
}
h2 {
  font-weight: 500;
  font-size: 32px;
  line-height: 32px;
  color: #0E2E56;
}
h3 {
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;
  color: #0E2E56;
}
p {
  max-width: 700px;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  text-align: justify;
  text-justify: inter-word;
}
p.bpexp{
  font-size: 14px;
  padding-left:14px;
}
a:link {color: #0E2E56}
a:hover {color: #D691FA}
a:visited {color: #134C8C}
a.mainlink {text-decoration: none; line-height: 32px}
.mainlink:hover {color: #D691FA; line-height: 32px}
a.blojlink {text-decoration: none; line-height: 18px}
.blojlink:hover {color: #D691FA; line-height: 18px}
.hiddenlink {color: #0E2E56; line-height: 32px}
.hiddenlink:visited {color: #0E2E56; line-height: 32px}
.hiddenlink:hover {color: #0E2E56; line-height: 32px}

/* for research page */

ul.publist {
  list-style: none;
  font-size: 14px;
  padding-left: 0;
  max-width: 700px;
  box-sizing: border-box;
}
li.pub{
  margin-bottom: 12px;
  margin-left: 4px;
}
li.pubcomm{
  margin-left: 24px;
  margin-bottom: 12px;
  text-align: justify;
  text-justify: inter-word;
  color: #666ACE
}

/* for about page */

img.portrait {
  box-sizing:border-box;
  margin-right: 16px;
  width: 160px;
}


#about-sidebar {
  position: relative;
  width: 200px;
  float: left;
  line-height: 24px;
}
#about-main {
  position: relative;
  width: 60%;
  float: left;
}

/** For smartphones **/
@media screen and (max-width: 959px){
  img.portrait{
    width: 75%;
    margin-left: 50%;
    margin-right: 50%;
  }
  .container{
    width: 85%;
  }
  #about-sidebar{
    width: 100%;
    text-align: center;
    list-style: none;
  }
  #about-main {
    width: 100%;
  }
}
