/* structure */
body {
  background-color: #F7FFF7;
  margin: 0;
  color: #50514F;
  font-family: 'Rubik', sans-serif;
}
.container{
  width: 80%;
  min-height: 70%;
  margin: 50px auto 50px auto;
}
.footer{
  width: 80%;
  height: 50px;
  margin: 0 auto;
}


/* contents */
h1 {
  font-weight: 700;
  font-size: 72px;
  line-height: 64px;
  color: #50514F;
  margin-bottom: 12px;
}
h2 {
  font-weight: 500;
  font-size: 32px;
  line-height: 32px;
  color: #50514F;
}
h3 {
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;
  color: #50514F;
}
p {
  max-width: 700px;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  text-align: justify;
}
p.bpexp{
  font-size: 14px;
  padding-left:14px;
}
a:link {color: #50514F}
a:hover {color: #59FFA0}
a:visited {color: #90A0D0}
a.mainlink {text-decoration: none; line-height: 32px}
.mainlink:hover {color: #59FFA0; line-height: 32px}
a.blojlink {text-decoration: none; line-height: 18px}
.blojlink:hover {color: #59FFA0; line-height: 18px}
.hiddenlink {color: #FDFFF7; line-height: 32px}
.hiddenlink:visited {color: #FDFFF7; line-height: 32px}
.hiddenlink:hover {color: #0DFFF7; line-height: 32px}

ul.publist {
  list-style: none;
  font-size: 14px;
  padding-left: 0;
  max-width: 700px;
  box-sizing: border-box;
}
li.pub{
  margin-bottom: 12px;
  margin-left: 4px;
}

img.portrait {
  box-sizing:border-box;
  float: left;
  margin-right: 16px;
  width: 160px;
}

/* SNS icons */
.fa {
  padding: 10px;
  font-size: 30px;
  width: 15px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}
.fa:link{ color:white }
.fa:visited{ color: white }
.fa:hover {
    opacity: 0.7;
    color: white;
}
.fa-facebook {
  background: #3B5998;
  color: white;
}
.fa-youtube {
  background: #bb0000;
  color: white;
}
.fa-instagram {
  background: #125688;
  color: white;
}
