/* color scheme */

:root{
  --c1: #7775a3; /* background */ 
  --c2: #2a292e; /* text */
  --c3: #f0a3e2; /* link */
  --c4: #87ffd3; /* hover */
  --c5: #575348; /* visited */

/* structure */
body {
  background: var(--c1);
  margin: 0;
  color: var(--c2);
  font-family: 'Rubik', sans-serif;
}

/* SVG background properties */
#svg-background svg {
  position: fixed;
  top: 45vh;
  left: 45vw;
  width: 50vw;
  height: 50vh;
  z-index: -1;
  pointer-events: none; /* So it doesn't block interactions */
  fill: none;
  stroke: var(--c2);
  stroke-width: 1;
  opacity: 0.1;
}

.container{
  width: 80%;
  min-height: 70%;
  margin: 50px auto 50px auto;
}

/* clear float of child elements so they don't overflow */
.container:after{
	content: "";
	clear: both;
	display: block;
}

.navigator{
  width: 100%;
}
.footer{
  width: 80%;
  height: 50px;
  margin: 0 auto;
}
.container2{
  position: relative;
  width: 100%;
  margin-top: 20px;
}

/* contents */
h1 {
  font-weight: 700;
  font-size: 72px;
  line-height: 64px;
  margin-bottom: 40px;
  color: var(--c2);
  width: 100%;
}
h2 {
  font-weight: 500;
  font-size: 32px;
  line-height: 32px;
  color: var(--c2);
  width: 100%;
}
h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: var(--c2);
  width: 99%;
}
p {
  max-width: 700px;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  text-align: justify;
  text-justify: auto;
}
p.bpexp{
  font-size: 14px;
  padding-left:14px;
}
a:link {color: var(--c3)}
a:hover {color: var(--c4)}
a:visited {color: var(--c5)}
a.mainlink {text-decoration: none; line-height: 32px}
.mainlink:hover {color: var(--c4); line-height: 32px}
a.blojlink {text-decoration: none; line-height: 18px}
.blojlink:hover {color: var(--c4); line-height: 18px}
.hiddenlink {color: var(--c4); line-height: 32px}
.hiddenlink:visited {color: var(--c4); line-height: 32px}
.hiddenlink:hover {color: var(--c4); line-height: 32px}

/* language select */
#lang-selector { float: right }
.switch:visited {color: var(--c2)}
.switch:link {color: var(--c2)}
.switch:hover {color: var(--c4)}

/* for research page */
ul.publist {
  list-style: none;
  font-size: 16px;
  padding-left: 0;
  max-width: 700px;
  box-sizing: border-box;
}

li.pub{
  margin-bottom: 16px;
  margin-left: 4px;
}
li.pub:hover {
  color: var(--c4);
}
li.pub::after{
  content: ' \25BD';
}
 /* for dynamic collapsing */
li.active {
  color: var(--c4);
}
li.active::after {
  content: " \25B2";
}

li.pubcomm{
  margin-left: 24px;
  margin-bottom: 16px;
  text-align: justify;
  text-justify: auto;
  color: var(--c4);
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

/* for bio page */

ul.external {
  list-style: none;
}

img.portrait {
  box-sizing:border-box;
  margin-right: 16px;
  width: 160px;
}

#bio-sidebar {
  position: relative;
  width: 220px;
  float: left;
  line-height: 24px;
}
#bio-main {
  position: relative;
  width: 60%;
  float: left;
}
.phone-only{
  display: none;
}

/* for gallery page */
.gallery-panel{
  width: 46%;
  float: left;
  margin-top: 30px;
  margin-right: 30px;
  display: block;
  height: auto;
}
.gallery-item{
  display: block;
  margin: 10px auto 0 auto;
  max-width: 280px;
}
.gallery-caption{
  text-align: center;
}

/** For smartphones **/
@media screen and (max-width: 959px){
  img.portrait{
    display: block;
    width: 80%;
    margin: auto;
  }
  .container{
    width: 80%;
  }
  .container2{
    min-height: 90%;
  }
  #bio-sidebar{
    width: 100%;
    text-align: center;
  }
  #bio-main {
    width: 100%;
  }
  li.external-link{
    display: inline;
  }
  .phone-only{
    display: inline;
  }
  .gallery-panel{
    width: 100%;
    margin-right: 0;
  }

}
